.DS_Store
/app/config/parameters.yml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/data
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
.web-server-pid
vendor
vendor/bin
composer.lock
composer.phar
/vendor
